*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Red Hat Display', sans-serif;

}
:root{
    --Pale-blue: #e0e8ff;
    --Bright-blue: #3829e0;
    --Very-pale-blue: #f5f7ff;
    --Desaturated-blue: #7280a7;
    --Dark-blue: 	#1f2f56;
}
body{
    background-image: url(./Imagenes/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1dafb;
}
.contain-card{
    min-width: 270px;
    max-width: 500px;
    width: 80%;
    background: white;
    height: fit-content;
    border-radius: 10px;
    
}
.contain-card .card-top-image{
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.contain-card-items h1{
    text-align: center;
    color: var(--Dark-blue);
    font-weight: 900;
    font-size: 2.1rem;
    margin-top: 20px;
}
.contain-card-items p{
    text-align: center;
    font-size: 1.2rem;
    color: var(--Desaturated-blue);
    padding: 0 15px;
    margin: 10px auto;
}
.plain-container{
    width: 80%;
    display: flex;
    margin: 0 auto;
    height: 50px;
    background: var(--Pale-blue);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.plain-container.icon-music-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: fit-content;
}
.icon-music-container img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.plain-container .plain-description-container{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
}
.plain-description-container .name-plain{
    width: 100%;
    color: var(--Dark-blue);
    font-size: 1.2rem;
    font-weight: 700;
}
.plain-description-container .price-plain{
    width: 100%;
    color: var(--Desaturated-blue);
    font-size: 1.2rem;
    margin-top: 4px; 
    font-weight: 500;
}
.plain-container .change-plain-container a{
    color: var(--Bright-blue);
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
}

.buttons-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100px;
}
.buttons-container .one{
    background: var(--Bright-blue);
    width: 80%;
    padding: 12px;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 25px 100px -9px var(--Bright-blue);
    -webkit-box-shadow: 0px 25px 100px -9px var(--Bright-blue);
    -moz-box-shadow: 0px 25px 100px -9px var(--Bright-blue);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 900;
}
.buttons-container .two{
    border: none;
    background: none;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--Desaturated-blue);
}